*.a
*.d
*.o

*.exe
*.dll
*.dylib
*.so
*.zip

.DS_Store

bin-w32/stereocrossdelay-vst.*
bin-w32/stereocrossdelay.clap
bin-w32/stereocrossdelay.exe
bin-w32/stereocrossdelay.lv2
bin-w32/stereocrossdelay.vst3
bin-w64/stereocrossdelay-vst.*
bin-w64/stereocrossdelay.clap
bin-w64/stereocrossdelay.exe
bin-w64/stereocrossdelay.lv2
bin-w64/stereocrossdelay.vst3
bin/stereocrossdelay
bin/stereocrossdelay-dssi.*
bin/stereocrossdelay-ladspa.*
bin/stereocrossdelay-vst.*
bin/stereocrossdelay.clap
bin/stereocrossdelay.lv2/
bin/stereocrossdelay.vst3
build/
dist/
